<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header')  %>
    <hr>
    <main>
        <h1>Productos</h1>
        <div class="productos-lista">
            <div class="productos">
                <div class="productos-imagen">
                    <a href="/detail"><img src="/img/productos_canastos.jpg" alt="Canasta cilindro alto"></a>
                </div>
            </div>
            <div class="productos">
                <div class="productos-imagen">
                    <img src="/img/productos_pantallas.jpg" alt="Canastos leñeros">
                </div>
            </div>
            <div class="productos">
                <div class="productos-imagen">
                    <img src="/img/productos_sillones.jpg" alt="Canastos para ropa">
                </div>
            </div>
            <div class="productos">
                <div class="productos-imagen">
                    <img src="/img/productos_infantiles.jpg" alt="Paneras">
                </div>
            </div>
            <div class="productos">
                <div class="productos-imagen">
                    <img src="/img/productos_mesas.jpg" alt="Canasta cilindro alto">
                </div>
            </div>
            <div class="productos">
                <div class="productos-imagen">
                    <img src="/img/productos_sillas.jpg" alt="Canastos leñeros">
                </div>
            </div>
            <div class="productos">
                <div class="productos-imagen">
                    <img src="/img/productos_sillas_002.jpg" alt="Canastos para ropa">
                </div>
            </div>
            <div class="productos">
                <div class="productos-imagen">
                    <img src="/img/productos_canastos_002.jpg" alt="Paneras">
                </div>
            </div>
        </div>
    </main>
    <hr>
    <%- include('../partials/footer.ejs')  %>
</body>
</html>