<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <hr>
    <main>
        <h1>Detalles</h1>
        <div class="producto-detalle">
            <div class="producto-detalle-imagen">
                <img src="/img/productos_canastos.jpg" alt="Canasta cilindro alto" class="imagen">
            </div>
            <div class="producto-detalle-caracteristicas">
                <h2>Leñeros</h2>
                <h3>* * * * * 5 opiniones</h3>
                <h2>$ 1.500,00</h2>
                <h2>Descripción</h2>
                <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus non enim odit dolores rem assumenda reiciendis deserunt nam suscipit repellendus magnam asperiores delectus quod fuga aspernatur architecto.</h3>
            </div>
        </div>
        <div class="producto-detalle-caracteristicas-botones">
            <button type="submit" class="producto-detalle-caracteristicas-botones-submit"><a href="/products/edit">Editar</a></button>
            <button type="submit" class="producto-detalle-caracteristicas-botones-submit"><a href="/products/create">Agregar</a></button>
            <button type="submit" class="producto-detalle-caracteristicas-botones-submit">Comentar</button>
            <button type="submit" class="producto-detalle-caracteristicas-botones-submit">Agregar al Carrito</button>
        </div>
        <h1>Productos Similares</h1>
        <div class="productos-similares">
            <div class="productos-similares-producto">
                <div class="productos-similares-producto-imagen">
                    <img src="/img/productos_canastos.jpg" alt="">
                </div>
                <div class="productos-similares-producto-detalle">
                    <h2>Canastos</h2>
                    <h3>$ 1.200,00</h3>
                </div>   
            </div>
            <div class="productos-similares-producto">
                <div class="productos-similares-producto-imagen">
                    <img src="/img/productos_canastos.jpg" alt="">
                </div>
                <div class="productos-similares-producto-detalle">
                    <h2>Canastos</h2>
                    <h3>$ 1.200,00</h3>
                </div>   
            </div>
            <div class="productos-similares-producto">
                <div class="productos-similares-producto-imagen">
                    <img src="/img/productos_canastos.jpg" alt="">
                </div>
                <div class="productos-similares-producto-detalle">
                    <h2>Canastos</h2>
                    <h3>$ 1.200,00</h3>
                </div>   
            </div>
        </div>
        <h1>Comentarios</h1>
        <div class="productos-comentarios">
            <div class="productos-comentarios-logo">
                <i class="fas fa-user"></i>
            </div>
            <div class="productos-comentarios-usuario">
                <h2>Marcela</h2>
                <h3>31 de mayo 2023</h3>
                <h3>*****</h3>
            </div>
            <div class="productos-comentarios-comentario">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque veritatis non ad sed modi ipsum cum exercitationem reprehenderit quae voluptatibus, adipisci quos praesentium unde quibusdam ipsa placeat, saepe aliquam perspiciatis.</h3>
            </div>
        </div>
        <div class="productos-comentarios">
            <div class="productos-comentarios-logo">
                <i class="fas fa-user"></i>
            </div>
            <div class="productos-comentarios-usuario">
                <h2>Silvia</h2>
                <h3>29 de mayo 2023</h3>
                <h3>*****</h3>
            </div>
            <div class="productos-comentarios-comentario">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque veritatis non ad sed modi ipsum cum exercitationem reprehenderit quae voluptatibus, adipisci quos praesentium unde quibusdam ipsa placeat, saepe aliquam perspiciatis.</h3>
            </div>
        </div>
        <div class="productos-comentarios">
            <div class="productos-comentarios-logo">
                <i class="fas fa-user"></i>
            </div>
            <div class="productos-comentarios-usuario">
                <h2>Kely</h2>
                <h3>15 de mayo 2023</h3>
                <h3>*****</h3>
            </div>
            <div class="productos-comentarios-comentario">
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque veritatis non ad sed modi ipsum cum exercitationem reprehenderit quae voluptatibus, adipisci quos praesentium unde quibusdam ipsa placeat, saepe aliquam perspiciatis.</h3>
            </div>
        </div>
    </main>
    <hr>
    <%- include('../partials/footer')  %>
</body>
</html>