<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chicle&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/logo.ico" type="image/x-icon" />
    <title>Mi Mimbrería</title>
</head>
<body>
    <header>
        <div class="nav-principal">
            <div class="logo">
                <a href="/"><img src="/img/logo.jpg" alt="Logo de Mi Mimbrería"></a>
                <div class="info">
                    <h1 class="logo-texto">Mimimbrería</h1>
                </div>
            </div>
            <div class="navegacion">
                <div class="paginas">
                    <a href="/nuestrahistoria"><h3>Nuestra Historia</h3></a>
                </div>
                <div class="paginas">
                    <h3>Productos</h3>
                </div>
                <div class="paginas">
                    <h3>Video Artesan@s</h3>
                </div>
                <div class="paginas">
                    <h3>Tu Huella de Carbono</h3>
                </div>
                <div class="paginas">
                    <h3>Contacto</h3>
                </div>
            </div>
            <div class="usuarios">
                <input type="search" id="search" placeholder="Buscar..." />
                <i class="fas fa-search"></i>
                <i class="fas fa-user"></i>
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
        <div class="nav-secundario">
            <div>
                <a class="btn-categorias" href="#">
                    <div class="categorias-imagen">
                        <img src="/img/btn_canastos.png" alt="Canastos">
                    </div>
                    <div class="categorias-texto">
                        <span>Canastos</span>
                    </div>
                </a>
            </div>
            <div>
                <a class="btn-categorias" href="#">
                    <div class="categorias-imagen">
                        <img src="/img/btn_pantallas.png" alt="Pantallas">
                    </div>
                    <div class="categorias-texto">
                        <span>Pantallas</span>
                    </div>
                </a>
            </div>
            <div>
                <a class="btn-categorias" href="#">
                    <div class="categorias-imagen">
                        <img src="/img/btn_sillones.png" alt="Sillones">
                    </div>
                    <div class="categorias-texto">
                        <span>Sillones</span>
                    </div>
                </a>
            </div>
            <div>
                <a class="btn-categorias" href="#">
                    <div class="categorias-imagen">
                        <img src="/img/btn_mesas.png" alt="Mesas">
                    </div>
                    <div class="categorias-texto">
                        <span>Mesas</span>
                    </div>
                </a>
            </div>
            <div>
                <a class="btn-categorias" href="#">
                    <div class="categorias-imagen">
                        <img src="/img/btn_infantiles.png" alt="Infantiles">
                    </div>
                    <div class="categorias-texto">
                        <span>Infantiles</span>
                    </div>
                </a>
            </div>
            <div>
                <a class="btn-categorias" href="#">
                    <div class="categorias-imagen">
                        <img src="/img/btn_sillas.png" alt="Sillas">
                    </div>
                    <div class="categorias-texto">
                        <span>Sillas</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <hr>
    <main>
        <div class="nuestra-historia">
            <h1>Nuestra Historia</h1>
            <p class="nuestra-historia-texto">Fundada en 1950</p>
            <p class="nuestra-historia-texto">Somos descendientes de una familia italiana que inmigró al país a principios del siglo XX, plenos de sueños e ilusiones.</p>
            <p class="nuestra-historia-texto">Liborio, padre y fundador de la firma fue quien empezó vendiendo canastas y sillas, en un carro tirado a caballo que circulaba entre los barrios de Las Cañitas y Retiro, hasta que en el año 1945 ancló en Palermo y abrió su local en la calle Gorriti 5630.</p>
            <p class="nuestra-historia-texto">Desde hace muchos años, las hermanas Marcovecchio, sus herederas, atienden el local, lugar favorito de productoras, arquitectos y decoradores que acuden en búsqueda de soluciones en mimbre ratán o caña para sus mas variados proyectos, cautivados por la personalidad de estas mujeres que ya cuentan con mas de 80 años.</p>
        </div>
    </main>
    <hr>
    <footer>
        <div class="footer-ubicacion">
            <div class="ubicacion">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.939883143956!2d-58.48387538955165!3d-34.55507747285899!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb69215b6aaab%3A0xcbe90dc9b728abd8!2sWashington%203664%2C%20C1430EUX%20CABA!5e0!3m2!1ses!2sar!4v1684274647778!5m2!1ses!2sar" width="250" height="180" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
<!--         <div class="footer-menu">
            <div class="footer-menu-titulo">
                <p>MENÚ</p>
            </div>
            <div class="footer-menu-links">
                <p>Home</p>
                <p>Productos</p>
                <p>Compras</p>
            </div>
        </div>
        <div class="footer-productos">
            <div class="footer-productos-titulo">
                <p>PRODUCTOS</p>
            </div>
            <div class="footer-productos-links">
                <p>Novedades</p>
                <p>Ofertas</p>
                <p>+ Vistos</p>
            </div>
        </div>
        <div class="footer-descubri">
            <div class="footer-descubri-titulo">
                <p>DESCUBRÍ</p>
            </div>
            <div class="footer-descubri-links">
                <p>Nuestra Historia</p>
                <p>Video Artesan@s</p>
                <p>Tu Huella de Carbono</p>
            </div>
        </div> -->
        <div class="footer-redes">
            <div class="footer-redes-titulo">
                <p>REDES</p>
            </div>
            <div class="footer-redes-links">
                <p><i class="fab fa-facebook-square"></i></p>
                <p><i class="fab fa-twitter-square"></i></p>
                <p><i class="fab fa-instagram-square"></i></p>
            </div>
        </div>
    </footer>
    <div class="footer-info">
        <div class="footer-info-ayuda">Ayuda</div>
        <div class="footer-info-empresa">Mimimbrería © 2023</div>
        <div class="footer-info-contacto">Contacto</div>
    </div>
</body>
</html>