*{
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;

}

body{
    background: #f9f9f9 url(../img/bg.jpg);
    margin: 0px;
}

header{
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.error-msg{
    color: red;
    padding: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Navegación principal */
.nav-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.logo{
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usuarios{
    display: none;
}

.navegacion{
    display: none;
}

.nav-imagen img{
    width: 100%;
    height: auto;
}

.burger-menu{
    margin: auto;
    font-size: 30px;
    display: block;
    max-width: 60px;
    background-color: #308781;
    text-align: center;
    border-radius: 5px;
}

.burger-menu i{
    width: 40px;
}

hr{
    border-color: #308781;
    height: 1px;
}

/* Área dinámica para muestra de productos*/
main{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
}

h1, h2, h3{
    color: #308781;
    font-weight: 400;
}

/* Muestra de productos en la Home*/

.novedades{
    text-align: center;
}


.novedades-productos{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.productos{
    width: 220px;
    height: auto;
    margin: 12px;
    background: #308781 url(../images/noise.png);
    border: 1px solid #308781;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px black;
}

.productos-imagen img{
    width: 200px;
    padding-top: 10px;
}

.productos-info{
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
    color: white;
}

.productos-info-titulo{
    font-size: 20px;
    text-align: center;
}

.productos-info-botonera{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 8px;
}

.productos-info-botonera a, i{
    color: white;
    text-decoration: none;
}

/** Detalles de un producto **/
.producto-detalle{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: auto;
    margin: auto;
    justify-content: space-between;
    border: 1px solid #308781;
}

.producto-detalle-imagen{
    width: 350px;
    margin: 20px;
    text-align: center;
}

.producto-detalle-imagen .imagen{
    width: 90%;
    height: auto;
}

.producto-detalle-caracteristicas{
    padding: 10px;
}

.producto-detalle-caracteristicas-botones{
    text-align: center;
}

.producto-detalle-caracteristicas-botones-submit{
    height: 40px;
    width: 130px;
    margin: 5px;
    font-size: 15px;
    color: white;
    background-color: #308781;
    border: none;
    border-radius: 8px;
    text-decoration: none;
}

.producto-detalle-caracteristicas-botones-submit a{
    text-decoration: none;
    color: white;
}

.productos-similares{
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
}

.productos-similares-producto{
    display: flex;
    flex-direction: row;
}

.productos-comentarios{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.productos-comentarios-logo{
    width: 20%;
    font-size: 50px;
    color: #308781;
}

.productos-comentarios-usuario{
    width: 30%;
}

/** Estilos mobile para Nuestra Historia **/
.nuestra-historia-texto{
    font-size: 25px;
    font-style: italic;
    color: #308781;
    text-align: center;
}

/** Estilos mobile para el Login **/
.login{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px 40px;
    border: 1px solid #308781;
}

.login-datos{
    padding: 10px;
}

.login-datos input{
    width: 100%;
    margin: 5px 0px 5px 0px;
}

.login-datos label{
    color: #308781;
}

.login-botones button{
    width: 130px;
    height: 40px;
    margin: 5px;
    padding: 11px;
    font-size: 15px;
    color: white;
    background-color: #308781;
    border: none;
    border-radius: 8px;
}

.login-botones{
    text-align: center;
}

.login-botones a{
    color: white;
    text-decoration: none;
}

/** Estilos para el registro de usuarios en mobile **/
.register{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    padding: 5px 40px;
    border: 1px solid #308781;
}

.register-datos{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.register-datos input{
    width: 100%;
    margin: 5px 0px 5px 0px;
}

.register-datos label{
    color: #308781;
}

.register-datos-personales{
    margin: auto;
    width: 100%;
    padding: 20px;
}

.register-datos-ubicacion{
    margin: auto;
    width: 100%;
    padding: 20px;
}

.register-botones{
    text-align: center;
}

.register-botones button{
    width: 130px;
    height: 40px;
    margin: 5px;
    padding: 11px;
    font-size: 15px;
    color: white;
    background-color: #308781;
    border: none;
    border-radius: 8px;
}

.register-botones a{
    color: white;
    text-decoration: none;
}

/** Estilos para la edición de un producto en mobile**/
.edicion{
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 5px;
    margin-bottom: 20px;
    padding: 5px 20px;
    border: 1px solid #308781;
}

.edicion-datos{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.edicion-datos-control{
    width: 100%;
    margin: 5px;
    padding: 5px;
    color: #308781;
}

.edicion-datos-control-input{
    width: 100%;
}

.edicion-botones{
    text-align: center;
}

.edicion-botones button{
    width: 130px;
    height: 40px;
    margin: 5px;
    padding: 11px;
    font-size: 15px;
    color: white;
    background-color: #308781;
    border: none;
    border-radius: 8px;
}

/** Carrito de compras **/
.carrito{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin: auto;
    justify-content: space-between;
    border: 1px solid #308781;
}

.carrito-productos{
    justify-content: space-between;
}

.carrito-productos-producto{
    display: flex;
    flex-direction: column;
}

.carrito-productos-producto-imagen{
    margin: auto;
}

.carrito-productos-producto-detalles{
    margin: auto;
}

.carrito-productos-producto-cantidad{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    font-size: 30px;
    color: #308781;
}

.carrito-productos-producto-cantidad-items{
    padding: 10px;
}

.carrito-productos-producto-subtotal{
    display: flex;
    flex-direction: row;
    margin: auto;
    color: #308781;
}

.carrito-productos-producto-subtotal label{
    padding: 5px;
    font-size: 20px;
    color: #308781;
}

.carrito-total{
    font-size: 25px;
    color: #308781;
    text-align: right;
    margin-right: 10px;
    padding: 10px;
}

.carrito-botones-container{
    text-align: center;
}

.carrito-botones{
    height: 40px;
    width: 130px;
    margin: 5px;
    font-size: 15px;
    color: white;
    background-color: #308781;
    border: none;
    border-radius: 8px;
}

/* Estilos para mobile del footer */
footer{
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer .footer-menu-titulo, .footer-productos-titulo, .footer-descubri-titulo, .footer-redes-titulo{
    font-size: 20px;
    color: #308781;
    font-weight: 400;
}

footer .footer-menu-links, .footer-productos-links, .footer-descubri-links, .footer-redes-links{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-around;
    font-size: 35px;
    font-weight: 400;
    color: #308781;
}

.footer-redes-links i{
    color: #308781;
}

.footer-ubicacion{
    margin: auto;
    padding: 10px;
}

.footer-info{
    display: none;
}




/* Estilos para visualización en PC */
@media only screen and (min-width: 769px) {
    header{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .nav-principal{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
    }

    .logo{
        display: flex;
        flex-direction: column;
        margin: 10px;
        justify-content: center;
    }

    .navegacion{
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 50%;
        justify-content: space-between;
        font-size: 15px;
    }

    .navegacion a{
        text-decoration: none;
    }

    .nav-imagen{
        position: absolute;
        z-index: -1;
    }

    .nav-imagen img{
        width: 100%;
        height: auto;
        margin: auto;
    }

    .paginas{
        justify-content: space-between;
    }

    .usuarios{
        display: flex;
        flex-direction: row;
        font-size: 20px;
        color: #308781;
        align-items: baseline;
        margin: 5px;
    }

    .usuarios i{
        padding: 5px;
        padding-top: 15px;
        color: #308781;
    }

    .burger-menu{
        display: none;
    }

    main{
        padding-top: 250px;
        padding-left: 20px;
        padding-bottom: 30px;
        text-align: left;
    }

    .novedades{
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }

    .novedades-productos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .productos{
        margin: 10px;
    }

    /** Estilos para el Login en Pc **/
    .login{
        display: flex;
        flex-direction: column;
        width: 35%;
        height: auto;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 30px 40px;
        border: 1px solid #308781;
    }

    .login-datos{
        padding: 10px;
    }

    .login-datos input{
        width: 100%;
        margin: 5px 0px 5px 0px;
    }

    .login-datos label{
        color: #308781;
    }

    .login-botones button{
        width: 130px;
        height: 40px;
        margin: 5px;
        padding: 11px;
        font-size: 15px;
        color: white;
        background-color: #308781;
        border: none;
        border-radius: 8px;
    }

    .login-botones{
        text-align: center;
    }

    .login-botones a{
        color: white;
        text-decoration: none;
    }

    /** Estilos de Detalles de un producto para Pc **/
    .producto-detalle{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 75%;
        height: 400px;
        margin: auto;
        justify-content: space-between;
        border: 1px solid #308781;
    }

    .producto-detalle-imagen{
        margin: 20px;
        text-align: center;
    }

    .producto-detalle-imagen .imagen{
        width: 90%;
        height: auto;
    }

    .producto-detalle-caracteristicas{
        padding: 10px;
    }

    .producto-detalle-caracteristicas-botones{
        text-align: center;
    }

    .producto-detalle-caracteristicas-botones-submit{
        height: 40px;
        width: 130px;
        margin: 5px;
        font-size: 15px;
        color: white;
        background-color: #308781;
        border: none;
        border-radius: 8px;
        text-decoration: none;
    }

    .producto-detalle-caracteristicas-botones-submit a{
        text-decoration: none;
        color: white;
    }

    .productos-similares{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 80%;
        text-align: center;
    }

    .productos-similares-producto{
        display: flex;
        flex-direction: row;
    }

    .productos-comentarios{
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: auto;
    }

    .productos-comentarios-logo{
        width: 20%;
        margin: auto;
        font-size: 50px;
    }

    .productos-comentarios-logo i{
        color: #308781;
    }

    .productos-comentarios-usuario{
        width: 30%;
    }

    .carrito{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
        margin: auto;
        justify-content: space-between;
        border: 1px solid #308781;
    }
    
    .carrito-productos{
        justify-content: space-around;
    }
    
    .carrito-productos-producto{
        display: flex;
        flex-direction: row;
    }
    
    .carrito-productos-producto-imagen img{
        width: 200px;
    }
    
    .carrito-productos-producto-detalles{
        margin: auto;
    }
    
    .carrito-productos-producto-cantidad{
        display: flex;
        flex-direction: row;
        margin: auto;
        justify-content: space-between;
        font-size: 30px;
        color: #308781;
    }
    
    .carrito-productos-producto-cantidad-items{
        padding: 10px;
    }
    
    .carrito-productos-producto-subtotal{
        display: flex;
        flex-direction: row;
        margin: auto;
        color: #308781;
    }
    
    .carrito-productos-producto-subtotal label{
        padding: 5px;
        font-size: 20px;
        color: #308781;
    }
    
    .carrito-total{
        font-size: 25px;
        color: #308781;
        text-align: right;
        margin-right: 10px;
        padding: 10px;
    }
    
    .carrito-botones-container{
        text-align: right;
    }
    
    /** Estilo para carritos en Pc **/
    .carrito-botones{
        height: 40px;
        width: 130px;
        margin: 5px;
        font-size: 15px;
        color: white;
        background-color: #308781;
        border: none;
        border-radius: 8px;
    }

    /** Estilos del registro para PC **/
    .register{
        display: flex;
        flex-direction: column;
        height: auto;
        margin: auto;
        margin-bottom: 20px;
        padding: 5px 20px;
        border: 1px solid #308781;
    }

    .register-form{
        width: 70%;
    }
    
    .register-datos{
        display: flex;
        flex-direction: row;
        padding: 10px;
    }
    
    .register-datos input{
        width: 100%;
        margin: 5px 0px 5px 0px;
    }
    
    .register-datos label{
        color: #308781;
    }
    
    .register-datos-personales{
        margin: auto;
        width: 100%;
        padding: 20px;
    }
    
    .register-datos-ubicacion{
        margin: auto;
        width: 100%;
        padding: 20px;
    }
    
    .register-botones{
        text-align: center;
    }
    
    .register-botones button{
        width: 130px;
        height: 40px;
        margin: 5px;
        padding: 11px;
        font-size: 15px;
        color: white;
        background-color: #308781;
        border: none;
        border-radius: 8px;
    }
    
    .register-botones a{
        color: white;
        text-decoration: none;
    }

    /** Estilos para la edición de un producto en PC **/
    .edicion{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        border: 1px solid #308781;
    }

    .edicion-datos-control-check{
        padding: 5px;
    }

    .edicion-botones{
        text-align: center;
    }

    .edicion-botones button{
        width: 130px;
        height: 40px;
        margin: 5px;
        padding: 11px;
        font-size: 15px;
        color: white;
        background-color: #308781;
        border: none;
        border-radius: 8px;
    }

    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
        margin: auto;
    }

    .footer-redes{
        width: 40%;
    }
    
    footer .footer-menu-titulo, .footer-productos-titulo, .footer-descubri-titulo, .footer-redes-titulo{
        font-size: 25px;
        color: #308781;
        font-weight: 400;
    }
    
    footer .footer-menu-links, .footer-productos-links, .footer-descubri-links, .footer-redes-links{
        display: flex;
        flex-direction: row;
        font-size: 30px;
        font-weight: 200;
    }
    
    .footer-ubicacion{
/*         display: flex;
        flex-direction: row; */
        margin: 20px;

    }
    
    .footer-info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px;
        color: #308781;
        font-size: 20px;
    }
}