<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header')  %>
    <main>
        <div class="nuestra-historia">
            <h1>Nuestra Historia</h1>
            <p class="nuestra-historia-texto">Fundada en 1950</p>
            <p class="nuestra-historia-texto">Somos descendientes de una familia italiana que inmigró al país a principios del siglo XX, plenos de sueños e ilusiones.</p>
            <p class="nuestra-historia-texto">Liborio, padre y fundador de la firma fue quien empezó vendiendo canastas y sillas, en un carro tirado a caballo que circulaba entre los barrios de Las Cañitas y Retiro, hasta que en el año 1945 ancló en Palermo y abrió su local en la calle Gorriti 5630.</p>
            <p class="nuestra-historia-texto">Desde hace muchos años, las hermanas Marcovecchio, sus herederas, atienden el local, lugar favorito de productoras, arquitectos y decoradores que acuden en búsqueda de soluciones en mimbre ratán o caña para sus mas variados proyectos, cautivados por la personalidad de estas mujeres que ya cuentan con mas de 80 años.</p>
        </div>
    </main>
    <hr>
    <%- include('../partials/footer')  %>
</body>
</html>